@import url("fontawesome-all.min.css");

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: lightcyan;
}

header {
    background-color: darkcyan;
    color: lightgray;
    text-align: center;
    padding: 25px 0px;
}

nav {
    position: absolute;
    margin: 120px 35% 0px 46%;    
}

nav a {
    color: lightgray;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
  }

footer {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

iframe {
    max-width: 75% !important;
    min-width: 25% !important;
    height: 240px !important;
}

#head-doc{
    margin: 0px 0px 50px 0px;
}

#self-des li{
    display: inline;
}

#portfolio {
    padding: 2em 0;
    border-bottom: 1px solid darkcyan;
}
#portfolio:last-child {
    border: none;
}
#my-work-heading {
    margin-top: 0;
}

#contact {
    text-align: center;
}

#about {
    text-align: center;
    padding: 2em 0;
    border-bottom: 1px solid darkcyan;
}

#about h2 {
    margin: 13px 0px;;
}

#about, #contact, #portfolio {
    color: black;
}

#arrow {
    position: relative;
    animation: arrow-animation 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#purpose-p {
    font-weight: 800;
}

#welcome-portfolio {
    text-align: center;
    font-weight: 600;
    margin: 13px 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.portfolio-item {
    margin-bottom: 1em;
}

.icon::before{
    font-family: 'Font Awesome 5 Free';
    color: black;
}

.icon > .label {
    display: none;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands::before{
    font-family: 'Font 5 Awesome Brands';
}

.label {
    font: inherit;
}

@keyframes arrow-animation {
    from {left: -2px;}
    to {left: 0px;}
}

@media screen and (max-width:1288px){

    header{
        padding: 7px 0px;
    }

    nav{
        position: fixed;
        bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5px 2%;
        display: block;
        font-size: 18px;
        text-align: center;
        background-color: darkcyan;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    nav ul li{
        margin: 0px 0px;
        padding: 5px 25px;
        display: inline-block;
        list-style: none;
        border-style: solid;
        border-radius: 10px;

    }

    nav ul li:active{
        color: blue;
    }

    #head-doc, #main-doc{
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    #self-des li{
        list-style: square outside;
    }
}

@media screen and (min-width:1288px){
    nav {
        position: absolute;
        margin: 120px 35% 0px 46%;    
    }
}